@import '../../../../../assets/css/main.css';

.mainContainer {
  width: 1370px;
  height: 730px;
  border-top: 2px solid var(--blue-light);
  border-right: 2px solid var(--blue-light);
  border-left: 2px solid var(--blue-light);
  border-radius: 14px 14px 0 0;
  position: relative;
}
.header {
  display: flex;
  gap: 20px;
  margin: 20px 0 0 40px;
  text-align: center;
  &__text {
    padding-top: 17px;
    width: 337px;
    height: 54px;
    background-color: var(--blue-medium);
    color: var(--white);
    border-radius: 14px;
  }
  &__number {
    width: 84px;
    padding: 0 24px;
    height: 54px;
    border-radius: 14px;
    border: 2px solid var(--blue-medium);
    color: var(--blue-medium);
    &::placeholder {
      color: var(--blue-medium);
    }
  }
  &__inpText {
    width: 250px;
    height: 54px;
    border-radius: 14px;
    border: 2px solid var(--blue-medium);
    padding-left: 20px;
    color: var(--blue-medium);
    &::placeholder {
      color: var(--blue-medium);
    }
  }
  &__button {
    width: 77px;
    height: 54px;
    border-radius: 14px;
    background-color: var(--blue-medium);
    color: var(--white);
  }
}
.filler {
  width: 807px;
  height: 202px;
  text-align: center;
  background-color: var(--blue-light);
  margin: 20px 0 0 40px;
  border-radius: 14px;
  p {
    font-size: 24px;
    font-weight: 700;
    padding-top: 90px;
  }
}
.main {
  margin: 20px 40px;
  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    input {
      margin-left: 20px;
    }
    &_item {
      display: flex;
      height: 54px;
      border-radius: 14px;
      background-color: var(--blue-light);
      p {
        padding-left: 20px;
        padding-top: 16px;
      }
      div {
        padding: 16px 20px;
      }
    }
  }
}

.bottom {
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  button {
    height: 54px;
    padding: 0 20px;
    border-radius: 14px;
    background-color: var(--blue-medium);
    color: var(--white);
  }

  select {
    height: 54px;
    padding-left: 20px;
    border-radius: 14px;
    background-color: var(--blue-medium);
    color: var(--white);
    margin-right: 20px;
    padding-right: 10px;
  }

  &__sort {
    margin-right: 20px;
  }

  &__text {
    background-color: var(--blue-light);
    padding: 0 20px;
    height: 60px;
    border-radius: 14px;
    position: absolute;
    bottom: -22px;
    text-align: center;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
