@import '../../../../../assets/css/main.css';

  .mainContainer {
    border-top: 2px solid var(--blue-light);
    border-right: 2px solid var(--blue-light);
    border-left: 2px solid var(--blue-light);
    border-radius: 14px 14px 0 0;
  }
  

.flex{
  display: flex;
}
.divider{
  width: 2px;
  height: 470px;
}

.left{
  background-color: var(--blue-light);
  width: 466px;
  height: 100px;
}