@import '../../../../../assets/css/main.css';

  .mainContainer {
    border-top: 2px solid var(--blue-light);
    border-right: 2px solid var(--blue-light);
    border-left: 2px solid var(--blue-light);
    border-radius: 14px 14px 0 0;
  }
  

