@import '../../../../../assets/css/main.css';

.mainContainer {
  border-top: 2px solid var(--blue-light);
  border-right: 2px solid var(--blue-light);
  border-left: 2px solid var(--blue-light);
  border-radius: 14px 14px 0 0;
}

.calc {
  text-align: center;

  p {
    margin: 10px;
    color:var(--blue-medium);
  }
  &_input{
    width: 259px;
    height: 54px;
    color: var(--blue-medium);
    border-radius: 14px;
    border: 2px solid var(--blue-medium);
    padding: 0 20px;

  }
}

.botton{
  button{
    margin-top: 17px;
    width: 100%;
    background-color: var(--blue-medium);
    color: var(--white);
    height: 47px;
  }
  p{
    margin: 15px 0 0 0;
    font-size: 24px;
    font-weight: 700;
    
  }
}
