@import '../../../../assets/css/main.css';

.card {
  width: 430px;
  height: 730px;
  border-top: 2px solid var(--blue-light);
  border-right: 2px solid var(--blue-light);
  border-left: 2px solid var(--blue-light);
  border-radius: 14px 14px 0 0;
  img {
    width: 426px;
    height: 271px;
    border-radius: 12px 12px 0 0;
  }

  &__title {
    margin-top: 38px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: 600;
  }
  &__text {
    margin: 40px 40px 0;
  }

  &__skill {
    display: flex;
    margin: 40px;
    width: 348px;
    &_item {
      padding: 4px 8px;
      border-radius: 8px;
      margin-left: 10px;
      p {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

// ----------низ карточки----------------
.extraCard {
  width: 430px;
  height: 54px;
  background-color: var(--blue-light);
  border-radius: 0 0 14px 14px;

  p {
    color: var(--black);
    padding-top: 18px;
    margin-left: 18px;
  }
}
