@import '../../../assets/css/main.css';



.extraContainer {
  height: 54px;
  background-color: var(--blue-light);
  border-radius: 0 0 14px 14px;
  display: flex;
  justify-content: space-between;
  img {
    margin-top: 18px;
    margin-right: 20px;
  }
  img:last-child {
    margin-top: 20px;
  }

  p {
    color: var(--black);
    padding-top: 18px;
    padding-left: 18px;
  }
}