@import '../../../../../assets/css/main.css';

.counter {
  margin-top: 160px;
  display: flex;
  div {
    width: 63px;
    height: 54px;
    text-align: center;
    border-radius: 14px;
    background-color: var(--blue-light);
    padding-top: 17px;
    margin-top: 20px;
    p {
      color: var(--blue-medium);
    }
  }
  button {
    width: 63px;
    height: 54px;
    border-radius: 14px;
    border: 2px solid var(--blue-medium);
    color: var(--blue-medium);
    margin: 20px 21px 0;
  }
}

.description{
  width: 229px;height: 54px;
  color: var(--blue-medium);
  text-align: center;
  border-radius: 14px;
  background-color: var(--blue-light);
  padding-top: 17px;
  margin: 20px 0 0 20px;
}