@import '../../../assets/css/main.css';

.stripe {
  width: 100%;
  height: 2px;
  background-color: var(--blue-light);
  margin-bottom: 10px;

  &__bottom {
    width: 100%;
    height: 2px;
    background-color: var(--blue-light);
    margin-top: 10px;
  }
  &__title {
    text-align: center;
  }
}
