@import '../../assets/css/main.css';
.flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 54px;
  background-color: var(--blue-light);
}
.list {
  
  display: flex;
 
  
  &__item {
    padding: 17px 22px;
    cursor: pointer;

    &:hover {
      background-color: var(--blue-medium);
      color: var(--white);
    }

    &_active {
      background-color: var(--blue);
      color: var(--white);
      &:hover {
        background-color: var(--yellow-rich);
      }
    }
  }
}
