@import '../../../../../assets/css/main.css';
// элемент готов
.mainContainer {
  width: 1370px;
  height: 730px;
  border-top: 2px solid var(--blue-light);
  border-right: 2px solid var(--blue-light);
  border-left: 2px solid var(--blue-light);
  border-radius: 14px 14px 0 0;
  background-color: var(--yellow);

  h2 {
    color: var(--yellow-rich);
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin: 21px;
    position: relative;

    &::after,
    &::before {
      content: '';
      top: 24px;
      position: absolute;
      border-radius: 10px;
      width: 77px;
      height: 6px;
      background-color: var(--yellow-rich);
    }

    &::after {
      left: 300px;
    }

    &::before {
      right: 300px;
    }
  }
  &__text {
    font-size: 30px;
    font-weight: 600;
    width: 1068px;
    margin: auto;
    text-align: center;

    &_lastChild {
      padding-top: 33px;
      font-size: 30px;
      font-weight: 600;
      width: 1068px;
      margin: auto;
      text-align: center;
    }
  }
  &__but {
    min-width: 250px;
    height: 54px;
    margin-top: 33px;
    background-color: var(--yellow-rich);
    border-radius: 14px;
    position: relative;
    left: 50%;
    padding: 0 20px;
    transform: translate(-50%, 0);
  }

  &__butGray {
    min-width: 250px;
    height: 54px;
    margin-top: 33px;
    background-color: var(--blue-light);
    border-radius: 14px;
    position: relative;
    left: 50%;
    padding: 0 20px;
    transform: translate(-50%, 0);
    pointer-events: none;
  }
}

.card {
  width: 400px;
  margin-top: 35px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 40px;

  &__item {
    display: flex;
    &_img {
      width: 150px;
      height: 150px;
    }
    &_img_mod {
      filter: grayscale(1);
      width: 150px;
      height: 150px;
    }
    &_flex {
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &_title {
        font-size: 20px;
        font-weight: 700;
      }
      &_description {
        width: 230px;
        font-size: 18px;
      }
      &_price {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

