@import '../../assets/css/main.css';

.container {
  // временное выравнивание
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  &__div {
    &_top {
      width: 670px;
      height: 2px;
      border-radius: 2px;
      background-color: var(--black);
    }
    &_bot {
      width: 670px;
      height: 2px;
      border-radius: 2px;
      background-color: var(--black);
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 600;
    width: 618px;
    margin: 40px 30px;
    text-align: center;
  }

  button {
    margin-top: 34px;
    width: 387px;
    height: 42px;
    transition: 1s;
    margin-left: 141px;

    &:hover {
      background-color: var(--black);
      color: #fff;
    }
  }
}
